@charset "utf-8";
/*
Author: Craig Erskine
Description: Dynamic Menu System - Horizontal/Vertical
*/

ul#navmenu-h {
	margin: 0;
	padding: 117px 0px 0px 16px;
	list-style: none;
	position: relative;
	background-image: url(../images/top_banner.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 34px;
	width: 739px;
	background-position: 0px 0px;
}

ul#navmenu-h ul {
	width: 80px; /* Sub Menu Width */
	margin: 0px;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0px;
}

ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { top: 0; left: 100%; }

ul#navmenu-h li {
	float: left;
	display: inline;
	position: relative;
	text-align: center;
}
ul#navmenu-h ul li {
	width: 100%;
	display: block;
}

/* Root Menu */
ul#navmenu-h a {
	padding: 9px 10px 8px;
	float: left;
	display: block;
	color: #333333;
	font: 15px Arial, sans-serif;
	text-decoration: none;
	margin: 0px;
	width: 60px;
}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a {
 background: #000000;
 color: #FFFFFF;
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a {
	float: none;
	background-color: #E8E8E8;
	color: #000000;
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a {
	background: #999999;
	color: #FFFFFF;
}

/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a {
 background: #000000;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a {
 background: #000000;
}

/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a {
 background: #000000;
}

/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
 background: #333;
}

/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; }
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }
ul#navmenu-h ul li a {
	padding: 10px;
	margin: 0px;
}
