<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws 
http://cxf.apache.org/schemas/jaxws.xsd" default-autowire="byType"> 
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

<!--	<bean id="methodIntercetpr" class="com.gang.service.wssvc.MethodToInvokeInterceptor"></bean>-->
	<bean id="mobile" class="com.gang.service.wssvc.MobileService" />
	<jaxws:endpoint id="mobileService" implementor="#mobile"
		address="/mobileservices" />
	<bean id="pad" class="com.gang.service.wssvc.PadService" />
	<jaxws:endpoint id="padService" implementor="#pad"
		address="/padservices">
	</jaxws:endpoint>
	<bean id="cms" class="com.gang.service.wssvc.CMSService" />
	<jaxws:endpoint id="cmsService" implementor="#cms"
		address="/cmsservices">
	</jaxws:endpoint>
</beans>

