@import url('fontsize.css');
*{ margin:0; padding:0}
body{ background-color:#f5f5f5;margin:15px; color:#333;font-size:16px; font-family:"寰蒋闆呴粦", "瀹嬩綋", Terminal}
body.comments{background:#f5f5f5;}
a{display:block;text-decoration:none;}
a:hover{text-decoration:none;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}

br
{   
    content: "A" !important;
    display: block !important;
    margin-bottom:8px !important;
}

article h2 {text-align:left; font-size:22px; font-weight:700; margin-top:20px; margin-bottom:5px}
/*article h5 {text-align:center; border-bottom:1px dashed #ccc; font-weight:400; padding:8px; padding-top:0px;margin-top:0px; color:#777}*/
article h5 {text-align:left; font-size:11px;font-weight:400; padding-top:0px;margin-top:0px; margin-bottom:15px;color:#777}
/*section img {max-width:96%; overflow:hidden; background:#f5f5f5; margin:8px auto; display:block;border:1px}*/
/*section p img {max-width:96%;max-width:96%;width:700px;width:expression(this.width>700?"700px":this.width+"px"); overflow:hidden; background:#f5f5f5; margin:4px auto 4px auto; display:block;border:1px}*/
section img {max-width:98%;min-width:98%; overflow:hidden; background:#f5f5f5;margin:3px auto; display:block;}
section p img {max-width:98%;min-width:98%; overflow:hidden; background:#f5f5f5;margin:3px auto; display:block;}
section a {max-width:100%; overflow:hidden; background:#ffffff; margin:8px auto; display:block; outline:#eeeeee solid 1px}
section p a {max-width:100%; overflow:hidden; background:#ffffff; margin:8px auto; display:block; outline:#eeeeee solid 1px}
/*section p a {max-width:100%; overflow:hidden; background:#ffffff; margin:8px auto; display:block;}*/